In [1]:
# Data processing
import pandas as pd
import numpy as np
import scipy.stats
# Visualization
import seaborn as sns
# Similarity
from sklearn.metrics.pairwise import cosine_similarity
from product_data import ProductData

In [2]:
file_name = "recom_pivot.csv"
prod = ProductData(file_name)
prod.set_pivot_dataframe_data_types()
prod.df_recommender.head()

,Customer_ID,5000.5,5001.0,5001.5,5002.0,5002.5,5003.0,5004.0,5004.5,5005.0,...,200035.5,200037.0,200037.5,200038.0,200038.5,200045.5,200046.0,200046.5,200047.0,350027.5
0,00024de6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00084856,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0008e848,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,00096930,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,000c66b7,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
prod.df_recommender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28514 entries, 0 to 28513
Columns: 334 entries, Customer_ID to 350027.5
dtypes: Int64(333), string(1)
memory usage: 81.7 MB

In [7]:
prod.df_products.head()

,5000.5,5001.0,5001.5,5002.0,5002.5,5003.0,5004.0,5004.5,5005.0,5007.0,...,200035.5,200037.0,200037.5,200038.0,200038.5,200045.5,200046.0,200046.5,200047.0,350027.5
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Customer similarity matrix using Pearson correlation
customer_similarity = prod.df_products.T.corr()
customer_similarity.insert(0, "Customer_ID", prod.df_customer_ids)
customer_similarity.head()

,Customer_ID,0,1,2,3,4,5,6,7,8,...,28504,28505,28506,28507,28508,28509,28510,28511,28512,28513
0,00024de6,1.000000,-0.004266,-0.003012,-0.003012,-0.004266,-0.004046,-0.003012,-0.003012,-0.004046,...,-0.003012,-0.003012,-0.003012,-0.003012,-0.003012,-0.003012,-0.003012,-0.004266,-0.003012,-0.003012
1,00084856,-0.004266,1.000000,-0.004266,0.706041,-0.006042,0.948397,-0.004266,-0.004266,-0.005730,...,-0.004266,-0.004266,-0.004266,-0.004266,-0.004266,-0.004266,0.706041,-0.006042,-0.004266,-0.004266
2,0008e848,-0.003012,-0.004266,1.000000,-0.003012,-0.004266,-0.004046,-0.003012,-0.003012,-0.004046,...,-0.003012,-0.003012,-0.003012,-0.003012,-0.003012,-0.003012,-0.003012,-0.004266,-0.003012,-0.003012
3,00096930,-0.003012,0.706041,-0.003012,1.000000,-0.004266,0.894158,-0.003012,-0.003012,-0.004046,...,-0.003012,-0.003012,-0.003012,-0.003012,-0.003012,-0.003012,-0.003012,-0.004266,-0.003012,-0.003012
4,000c66b7,-0.004266,-0.006042,-0.004266,-0.004266,1.000000,-0.005730,-0.004266,-0.004266,-0.005730,...,-0.004266,-0.004266,-0.004266,-0.004266,-0.004266,-0.004266,-0.004266,-0.006042,-0.004266,-0.004266

In [12]:
# Customer similarity matrix using cosine similarity
customer_similarity_cosine = cosine_similarity(prod.df_products)
#customer_similarity_cosine.insert(0, "Customer_ID", prod.df_customer_ids)
customer_similarity_cosine

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])